{% extends 'layout.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block body %}
    <h1>Competence index</h1>

    <table class="table table-dark">
        <thead>
            <tr class="text-center">
                <th>Nom</th>
                <th>Logo</th>
                <th>Other</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr class="text-center">
                <td>{{ competence.nom }}</td>
                <td><i class="{{ competence.logo }}"></i></td>
                <td>{{ competence.other ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('competence_show', {'id': competence.id}) }}" class="btn btn-primary">détail</a>
                    <a href="{{ path('competence_edit', {'id': competence.id}) }}" class="btn btn-primary">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competence_new') }}" class="btn btn-primary">Nouvelle</a>
{% endblock %}
