{% block profil %}
    <section class="profile">
        <div class="d-flex justify-content-center">
            <h1 class="align-center m-4 title ">
                Profil
            </h1>
        </div>
        <div class="content">
            <div class="row d-flex justify-content-around">

                <div class="col-md-3 d-flex justify-content-center">
                    <div class="card p-4 mt-3">
                        <div class="first"></div>
                        <div class="second d-flex flex-row mt-2">
                            <div class="image mr-3">
                                <img src="{{ myData.avatar_url }}" class="rounded-circle m-2" width="80"/>
                            </div>
                            <div class="">
                                <div class="d-flex justify-content-center mb-2">
                                    <span class="">{{ myData.login }}</span>
                                </div>
                                <div>
                                    <a href="{{ myData.html_url }}" class="btn btn-primary btn-sm m-1 fab fa-github">
                                        Voir mon profil</a>
                                </div>
                            </div>
                        </div>
                        <hr class="line-color">
                        <div class="row d-flex justify-content-around">
                            <div class="col-6">
                                <h6>{{ myData.public_repos }}
                                    Repos</h6>
                            </div>
                            <div class="col-6">
                                <h6>{{ myData.public_gists }}
                                    Gists</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="col-md-3 justify-content-center">
                    <!-- to do some text and picture -->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id suscipit nisi, vitae rutrum nibh. Pellentesque et blandit elit. Aliquam vulputate massa tortor, rutrum gravida ligula scelerisque a. Etiam sed consequat libero. Morbi aliquam cursus ex eu pulvinar. Nunc vestibulum tortor eget libero volutpat molestie. Pellentesque luctus pretium odio, ac tristique purus sagittis a. Phasellus nec magna volutpat, consectetur ipsum non, condimentum magna. Nunc scelerisque rutrum massa, sed commodo arcu porttitor at. Aenean pellentesque posuere orci, quis dapibus orci.
                    </p>
                </div>
                <div class="col-md-3 justify-content-center">
                   <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="vertical" data-theme="dark" data-vanity="tennessee-houry-0b790a209"><a class="LI-simple-link" href='https://fr.linkedin.com/in/tennessee-houry-0b790a209?trk=profile-badge'>Tennessee Houry</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
