{% extends 'base.html.twig' %}

{% block title %}Github index{% endblock %}

{% block body %}
    <h1>Github index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>RepoName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for github in githubs %}
            <tr>
                <td>{{ github.id }}</td>
                <td>{{ github.username }}</td>
                <td>{{ github.repoName }}</td>
                <td>
                    <a href="{{ path('github_show', {'id': github.id}) }}">show</a>
                    <a href="{{ path('github_edit', {'id': github.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('github_new') }}">Create new</a>
{% endblock %}
